/* #search-bar {
  align-items: center;
  background-color: #212121;
  border-radius: 5px;
  box-shadow: 5px 2px 10px grey ;
  color: #00be4f;
  display: flex;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 5px 10px;
} */

/* #search-bar input, #search-bar select {
  margin: 10px 20px;
} */
